DATABASE_USER=postgres
DATABASE_PASSWORD=hunter6
PG_ADMIN_USER=admin@example.com
PG_ADMIN_PASSWORD=admin
PG_ADMIN_PORT=5555
DATABASE_PORT=5432
PLAYGROUND_PORT=4000
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@localhost:${DATABASE_PORT}/postgres?schema=public
# USE_LEGACY_ENDPOINT=set to point to graqphql endpoint.
FIREBASE_CLIENT_CONFIG='{
    "apiKey": "totally_legit_key",
    "authDomain": "myproj.firebaseapp.com",
    "projectId": "myproj",
    "storageBucket": "myproj.appspot.com",
    "messagingSenderId": "1234567",
    "appId": "app_id",
    "measurementId": "m_id"
}'
FIREBASE_CLIENT_USER='{ "email": "me@example.com", "password": "14/\/\[00l" }'